---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom: Make wide class truly full width
.wide {
  .page {
    @include breakpoint($large) {
      width: 100% !important;
      padding-inline-end: 0 !important;
    }

    @include breakpoint($x-large) {
      width: 100% !important;
      padding-inline-end: 0 !important;
    }
  }
}